# --- Java / Spring Boot ---
**/target/
*.class
.mvn/
.idea/
*.iml
*.hprof

# --- Python / FastAPI ---
**/__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Node / Angular / Frontend ---
**/node_modules/
**/dist/
.angular/
package-lock.json

# --- C (Compilados e Binários) ---
*.o
*.out
*.exe
*.bin

# --- Sistema Operacional ---
.DS_Store
Thumbs.db
.vscode/
